Source: wandboard-kernel-stable
Section: kernel
Priority: optional
Maintainer: Heinrich Schuchardt <xypron.glpk@gmx.de>
Standards-Version: 3.9.4
Build-Depends: debhelper, cpio, kmod, python, python-six, bc, gcc
Homepage: https://www.kernel.org/

Package: wandboard-kernel-image-stable
Architecture: armhf
Section: debian-installer
Priority: standard
Provides: wandboard-kernel-image
Description: Kernel image for wandboard
 This package contains the linux kernel image for the wandboard.
